[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
"flake8" = "*"

[packages]
pywikibot = "*"
ipykernel = "*"
nltk = "*"
mediawiki-parser = "*"
mwparserfromhell = "*"
fire = "*"
lxml = "*"
mwxml = "*"

[requires]
python_version = "3.6"
